<div class="container">
  <div class="row">
    <div class="section-text col-md-12 col-lg-6">
      Tu objetivo
    </div>
    <div class="options col-md-12 col-lg-6">
        <p>Elige tu objetivo y haz click en siguiente</p>
      <div class="row">
        <div (click)="setObjetivo('1')" [ngClass]="setActive('1')" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/objetives/001-muscles.svg#Capa_1"></use></svg>
          </div>
          <label>Aumentar masa muscular</label>
        </div>
        <div (click)="setObjetivo('2')" [ngClass]="setActive('2')" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/objetives/003-yoga.svg#Capa_1"></use></svg>
          </div>
          <label>Mantenimiento</label>
        </div>
        <div (click)="setObjetivo('3')" [ngClass]="setActive('3')" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/objetives/002-waist.svg#Capa_1"></use></svg>
          </div>
          <label>Perder grasa corporal</label>
        </div>
      </div>
    </div>
  </div>
  
</div>