<div class="bg">
  <app-navbar></app-navbar>
  <div *ngIf="result === null && !paypage && !succespaypage && !formfinishpage">
    <app-stepper [page]="page"></app-stepper>
    <div class="container">
      <app-sex 
      [sexo]="opciones.sexo" 
      (selectSex)="opciones.sexo = $event" 
      *ngIf="page === 1" 
      ></app-sex>
      <app-physical-activity 
      [actividad_fisica]="opciones.actividad_fisica" 
        (select_actFisica)="opciones.actividad_fisica = $event" 
        *ngIf="page === 2" 
        ></app-physical-activity>
        <app-foods 
        [carnes]="opciones.carnes" 
        (set_carnes)="opciones.carnes = $event"
        *ngIf="page === 3" 
      ></app-foods>
      <app-allergies 
        [alergias]="opciones.alergias" 
        (set_alergias)="opciones.alergias = $event"
        *ngIf="page === 4" 
      ></app-allergies>
      <app-bad-habits 
        [malos_habitos]="opciones.malos_habitos" 
        (set_malos_habitos)="opciones.malos_habitos = $event"
        *ngIf="page === 5" 
      ></app-bad-habits>
      <app-objective 
        [objetivo]="opciones.objetivo" 
        (set_objetivo)="opciones.objetivo = $event"
        *ngIf="page === 6" 
      ></app-objective>
      <app-measurements 
        [tipo]="opciones.tipo"
        [edad]="opciones.edad" 
        [peso]="opciones.peso"
        [altura]="opciones.altura"
        (send_data)="getResults($event)"  
        *ngIf="page === 7" 
        ></app-measurements>
      </div>
      <div class="arrows">
        <ul>
          <li *ngIf="page !== 1 && page !== 8" class="disable" (click)="back()"><i class="fas fa-angle-left"></i> Anterior</li>
          <li *ngIf="page !== 7" class="disable next" [ngClass]="setClassNext()" (click)="next()">Siguiente <i class="fas fa-angle-right"></i></li>
        </ul>
      </div>
    <div *ngIf="page === 1" class="button-description">
      <button (click)="moveToDescripcion()" style="margin:0 auto">Cómo funciona nuestra calculadora</button>
    </div>
    <div *ngIf="page === 1" #descripcion style="margin-top:250px">
      <app-texto-principal></app-texto-principal>
    </div>
  </div>
    
  <div *ngIf="result !== null && !paypage && !succespaypage && !formfinishpage">
    <app-results 
      [result]="result"
      (payevent)="iwanttopay($event)"
    ></app-results>
  </div>
  <div *ngIf="paypage && !succespaypage && !formfinishpage">
    <app-payment
      (validpayevent)="setdataafterpay($event)"
    ></app-payment>
  </div>
  <div *ngIf="succespaypage">
    <app-succes 
      [tipo]="tipofinal"
    ></app-succes>
  </div>
  <div *ngIf="formfinishpage">
    <app-formsucces
      [result]="result"
      (finishevent)="setSuccesspaypage($event)"
    ></app-formsucces>
  </div>
  <div class="menu-footer" [ngClass]="setPositionFooter()">
    <div style="display: flex">
      <div class="row" style="margin: 0 auto">
        <ul>
          <li><a href="https://fullmusculo.com/home/about/">Acerca de nosotros</a></li>
          <li><a href="https://fullmusculo.com/home/contacto/">Contáctanos</a></li>
          <li><a href="https://fullmusculo.com/home/politica-de-privacidad/">Política de privacidad</a></li>
        </ul>
        <ul>
          <li><a href="https://www.youtube.com/channel/UC1Gm7FmLSwvCmmvEfnyl3Tg?sub_confirmation=1" target="_blank"><i class="fab fa-youtube "></i></a></li>
          <li><a href="https://www.facebook.com/LaComunidadFitness/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <!--<li><a href="https://www.google.com/+Fullmusculo" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>-->
          <li><a href="http://instagram.com/fullmusculo" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.pinterest.com/Fullmusculo/" target="_blank"><i class="fab fa-pinterest-p "></i></a></li>
          <li><a href="https://twitter.com/FullMusculo" target="_blank"><i class="fab fa-twitter "></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  

</div>
<div class="loader-content" *ngIf="loader">
  <div class="backdrop"></div>
  <img class="loader2 logo" src="./assets/img/LogoHeaderInv.png" alt="">
  <img class="loader2" src="./assets/svg/SVG-Loaders-master/svg-loaders/three-dots.svg" alt="">
  <div class="text">
    <p>{{textloader}}</p>
  </div>
</div>

