.arrows {
    position: absolute;
    width: 100%;
    display: flex;
    ul {
        margin: 0 auto;
        list-style-type: none;
        padding: 0;
    }
    li {
        float: left;
        cursor: pointer;
        color: white;
        text-align: center;
        padding: 10px 14px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 150ms ease-in-out;
        &.disable {
            color: #3a6ea7;
            cursor: pointer;
        }
        &.enable {
            color: white;
            &:hover {
                transform: scale(1.03);
            }
            &.next {
                margin-top: -7px;
                font-size: 20px;
            }
        }
    }
}

.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 1;
}

.loader-content {
    .text {
        width: 100%;
        position: absolute;
        top: 55%;
        p {
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase
        }
    }
    .loader2 {
        margin: 0 auto;
        position: absolute;
        width: 50PX;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.logo {
            top: 43%;
        }
    }
    
}

.container {
    padding: 80px 0;
    height: 380px;
}

button {
    background-color: transparent;
    color: #355577;
    font-size: 14px;
    font-weight: 800;
    text-rendering: auto;
    border: 3px #355577;    
    border-radius: 31px;
    display: block;
    text-align: center;
    border-style: solid;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    padding: 7px 3%;
    margin: 4px 40px;
    cursor: pointer;
    &:hover {
        border-color: #bcec4d;
        color: #bcec4d; 
        transform: scale(1.03);
        outline: none;
    } 
    &:focus {
        border-color: #bcec4d;
        color: #bcec4d;
      outline: none;
    }
}

.menu-footer {
    background-color: #1a1a1a;
    height: 27px;
    width: 100%;
    position: sticky;
    visibility: hidden;
    left:0px;
    bottom:0px;
    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        margin-bottom: 0;
    }
    
    li {
        float: left;
    }
    
    li a {
        color: white;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 11px;
        cursor: pointer;
        &:hover,:focus {
            color: #4db2ec;
        }
    }
}
.position-footer1 {
    position: absolute;
}
// , -webkit-sticky, -moz-sticky, -ms-sticky, -o-sticky
.position-footer2 {
    position: sticky;
    position:-webkit-sticky;
    position:-moz-sticky;
    position:-ms-sticky;
    position:-o-sticky;
}
.position-footer3 {
    position: sticky;
    position:-webkit-sticky;
    position:-moz-sticky;
    position:-ms-sticky;
    position:-o-sticky;
    margin-top: 100%;
}

.button-description {
    margin: 3% auto;
}

@media (min-width: 992px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0px 0;
        height: 385px
    }
    .menu-footer {
        visibility: visible;
    }
    .button-description {
        margin: 6% auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        padding: 0px 0;
        height: 396px;
    }
    .menu-footer {
        visibility: visible;
    }
    .button-description {
        margin: 6% auto;
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0% 0;
        height: 337px;
    }    
    .menu-footer {
        height: 50px;
        visibility: visible;
        ul {
            margin: 0 auto;
        }
    }
    .button-description {
        margin: 10% auto;
    }
}

@media (max-width: 330px) {
    .menu-footer {
        height: 50px;
        visibility: visible;
        ul {
            margin: 0 auto;
            li a{
                padding: 6px;
                font-size: 8px;
            }
        }
    }
}