.section-text {
    font-size: 58px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    color: white;
    padding: 10px;
    padding-bottom: 0;
}
.options {
    text-align: center;
    p {
        margin-bottom: 2%;
        color: #bebaba
    }
}
.element {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    svg {
        width: 70px;
        margin: 5% auto;
        display: block;
        height: 70px;
        fill: #3a6ea7;
    }
}

.option-active {
    color: #bcec4d;
    svg {
        fill: #bcec4d
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .section-text {
        font-size: 60px;
        line-height: 53px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .section-text {
        font-size: 59px;
        line-height: 60px;
    }
}

@media (max-width: 575px) {
    .section-text {
        font-size: 42px;
        line-height: 121%;
    }
    .options p {
        font-size: 10px;
    }
    .element {
        font-size:10px;
        svg {
            width: 60px;
            margin: 5% auto;
            height: 60px;
        }
    }
}
@media (hover:hover) {
    .element:hover {
        color: #4db2ec;
        transform: scale(1.03);
        svg {
            fill: #4db2ec
        }
    }
    .option-active:hover {
        color: #bcec4d;
        transform: scale(1.03);
        svg {
            fill: #bcec4d;
        }
    }
}