<div class="container">
  <div class="row">
    <div class="section-text col-md-12 col-lg-6">
      Alergias y/o intolerancias
    </div>
    <div class="options col-md-12 col-lg-6">
        <p>Elige tus Alergias y/o intolerancias y haz click en siguiente</p>
      <div class="row">
        <div (click)="selectOption(0)" [ngClass]="setActive(0)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/allergies/001-soy-milk.svg#Capa_1"></use></svg>
          </div>
          <label>Soja</label>
        </div>
        <div (click)="selectOption(1)" [ngClass]="setActive(1)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/allergies/002-milk-products.svg#Capa_1"></use></svg>
          </div>
          <label>Lácteos</label>
        </div>
        <div (click)="selectOption(2)" [ngClass]="setActive(2)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/allergies/003-eggs.svg#Capa_1"></use></svg>
          </div>
          <label>Huevos</label>
        </div>
        <div (click)="selectOption(3)" [ngClass]="setActive(3)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/allergies/004-walnut.svg#Capa_1"></use></svg>
          </div>
          <label>Nueces</label>
        </div>
        <div (click)="selectOption(4)" [ngClass]="setActive(4)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/allergies/005-gluten.svg#Capa_1"></use></svg>
          </div>
          <label>Gluten</label>
        </div>
        <div (click)="selectOption(5)" [ngClass]="setActive(5)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/allergies/no-stopping.svg#Capa_1"></use></svg>
          </div>
          <label>Ninguna</label>
        </div>
      </div>
    </div>
  </div>
</div>