<div class="stepper">
  <div [ngClass]="setActive(1)" class="step" data-placement="right" data-toggle="popover" data-trigger="hover" title="Genero Sexual">
    <div><div class="circle">1</div></div>
  </div>
  <div [ngClass]="setActive(2)" class="step" data-placement="right" data-toggle="popover" data-trigger="hover" title="Actividad Física">
    <div><div class="circle">2</div></div>
  </div>
  <div [ngClass]="setActive(3)" class="step" data-placement="right" data-toggle="popover" data-trigger="hover" title="Carnes">
    <div><div class="circle">3</div></div>
  </div>
  <div [ngClass]="setActive(4)" class="step" data-placement="right" data-toggle="popover" data-trigger="hover" title="Alergias y/o intolerancias">
    <div><div class="circle">4</div></div>
  </div>
  <div [ngClass]="setActive(5)" class="step" data-placement="right" data-toggle="popover" data-trigger="hover" title="Malos Hábitos">
    <div><div class="circle">5</div></div>
  </div>
  <div [ngClass]="setActive(6)" class="step" data-placement="right" data-toggle="popover" data-trigger="hover" title="Objetivo">
    <div><div class="circle">6</div></div>
  </div>
  <div [ngClass]="setActive(7)" class="step" data-placement="right" data-toggle="popover" data-trigger="hover" title="Medidas">
    <div><div class="circle">7</div></div>
  </div>
</div>
