<div class="menu-header">
  <div class="container">
    <div>
      <ul>
        <li><a href="https://www.facebook.com/LaComunidadFitness/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <!--<li><a href="https://www.google.com/+Fullmusculo" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>-->
        <li><a href="http://instagram.com/fullmusculo" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.pinterest.com/Fullmusculo/" target="_blank"><i class="fab fa-pinterest-p "></i></a></li>
        <li><a href="https://twitter.com/FullMusculo" target="_blank"><i class="fab fa-twitter "></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC1Gm7FmLSwvCmmvEfnyl3Tg?sub_confirmation=1" target="_blank"><i class="fab fa-youtube "></i></a></li>
      </ul>
      <ul>
        <li><a href="https://fullmusculo.com/home/about/">Acerca de nosotros</a></li>
        <li><a href="https://fullmusculo.com/home/contacto/">Contáctanos</a></li>
        <li><a href="https://fullmusculo.com/home/politica-de-privacidad/">Política de privacidad</a></li>
      </ul>
    </div>
  </div>
</div>
<nav>
  <div class="container">
    <div class="nav row">
      <div class="logo">
        <a style="display:contents" href="https://fullmusculo.com/home/"><img src="./assets/img/LogoHeaderInv.png" alt=""></a>
      </div>
      <div class="main-menu">
        <ul>
          <li><a href="https://fullmusculo.com/home/dieta-entrenamiento-personalizado/">ASESORIA</a></li>
          <li class="active"><a href="https://fullmusculo.com/home/calculadora-de-calorias/">DIETA</a></li>
          <li><a href="https://fullmusculo.com/home/ejercicios/">EJERCICIOS</a></li>
          <li><a href="https://fullmusculo.com/home/suplementos-deportivos/">SUPLEMENTOS</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>