.menu-header {
    background-color: #1a1a1a;
    height: 27px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        float:right;
    }
    
    li {
        float: left;
    }
    
    li a {
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 11px;
        cursor: pointer;
        &:hover,:focus {
            color: #4db2ec;
        }
    }
}


.logo img{
    max-height: 106px;
    padding: 6px 0;
    line-height: 106px;
    vertical-align: middle;
    margin-right: 45px;
}
.nav {
    padding: 0 25px;
}
.main-menu {
    width: 83%;
    ul {
        margin-top: 25px;
        float: right;
        list-style-type: none;
        margin-bottom: 0 !important;
    }
    li {
        float: left;
        line-height: 78px;
        height: 78px;
        cursor: pointer;
        
    }
    li.active:after {
        display:block;
        content: '';
        border-bottom: 2px solid #4db2ec;
        transform: scaleX(1)
    }
    li:after {
        display:block;
        content: '';
        border-bottom: 2px solid #4db2ec;
        transition: transform 150ms ease-in-out;  
        transform: scaleX(0);
    }
    li:hover:after {
        transform: scaleX(1)
    }
    li a {
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .main-menu {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu {
        width: 100%;
        display: flex;
        ul {
            float: none;
            margin: 25px auto;
            padding: 0;
            li {
                line-height: 75px;
            }
        }
    }
    
    .menu-header {
        display: none;
    }
    .logo {
        width: 100%;
        display: flex;
        img {
            margin: 0 auto -55px auto;
            max-height: 80px;
            width: 90px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main-menu {
        width: 100%;
        display: flex;
        ul {
            float: none;
            margin: 30px auto;
            padding: 0;
            li {
                line-height: 56px;
                height: 61px;
                a {
                    font-size: 9px;
                }
            }
        }
    }
    .menu-header {
        display: none;
    }
    .logo {
        width: 100%;
        display: flex;
        img {
            margin: 0 auto -55px auto;
            max-height: 60px;
            width: 70px;
        }
    }
}

@media (max-width: 575px) {
    .main-menu {
        width: 100%;
        display: flex;
        ul {
            float: none;
            margin: 43px auto;
            padding: 0;
            li {
                line-height: 39px;
                height: 44px;
                a {
                    padding: 10px;
                    font-size: 10px;
                }
            }
        }
    }
    .menu-header {
        display:none;
    }
    .logo {
        width: 100%;
        display: flex;
        img {
            margin: 0 auto -55px auto;
            max-height: 60px;
            width: 70px;
        }
    }
}

@media (max-width: 330px) {
    .main-menu {
        ul {
            li {
                a {
                    font-size: 7px;
                    padding: 7px;
                }
            }
        }
    }
    .menu-header {
        display:none;
    }
}