.section-text {
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    color: white;
    padding: 10px;
}

.options {
    padding-right: 25px;
    padding-left: 25px;
    .type {
        text-align: end;
        margin-bottom: 10px;
        a {
            color: #3a6ea7;
            font-weight: 700;
            padding: 7px 0px 7px 10px;
            text-transform: uppercase;
            font-size: 11px;
            cursor: pointer;
            transition: all 150ms ease-in-out;
            &.active {
                color: #4db2ec;
                font-size: 14px;
                text-decoration: underline
            }
        }
    }
    input {
        background-color: transparent;
        border-style: solid;
        border-color: #3a6ea7;
        width: 100%;
        color: white;
        text-align: center;
        margin: 6px auto;
        padding: 6px;
        border-radius: 20px;
        transition: all 150ms ease-in-out;
        &:focus {
            border-color: #4db2ec;
            outline: none
        }
        &.danger {
            border-color: #ec4d4d;
        }
        &.valid {
            border-color: #bcec4d;
        }
    }
    span {
        flex: 1;
        margin-top: 14px;
        margin-bottom: 14px;
        margin-left: -100px;
        margin-right: 12px;
        color: white;
        background-color: #355577;
        border-radius: 20px;
        font-size: 13px;
        text-align: center;
        padding-top: 2px;
        &:focus {
            border-color: #4db2ec;
        }
        &.danger {
            border-color: #ec4d4d;
        }
        &.valid {
            border-color: #bcec4d;
        }
    }
    .group-input {
        display: flex;
    }
}
select{
    background-color: transparent;
    border-style: solid;
    border-color: #3a6ea7;
    border-width: 2px;
    width: 100%;
    color: white;
    text-align: center;
    margin: 6px auto;
    padding: 6px;
    border-radius: 20px;
    -webkit-appearance: none;
    appearance: none;
    transition: all 150ms ease-in-out;
    text-align-last: center;
    background-image:
        linear-gradient(45deg, transparent 50%, #3a6ea7 50%),
        linear-gradient(135deg, #3a6ea7 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,5px 5px,1px 1.5em;
    background-repeat: no-repeat;
    &:focus {
        border-color: #4db2ec;
        background-image:
        linear-gradient(45deg, #4db2ec 50%,transparent 50%),
        linear-gradient(135deg, transparent 50%, #4db2ec 50%);
        background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
        background-size:5px 5px,5px 5px,1px 1.5em;
        background-repeat: no-repeat;
        border-color: #4db2ec;
        outline: 0;
    }
    option {
        color: #3a6ea7;
    }
    &.danger {
        border-color: #ec4d4d;
    }
    &.valid {
        border-color: #bcec4d;
    }
}
button {
    background-color: transparent;
    color: #3a6ea7;
    font-size: 14px;
    font-weight: 800;
    text-rendering: auto;
    border: 3px #3a6ea7;    
    border-radius: 31px;
    display: block;
    text-align: center;
    border-style: solid;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    padding: 7px 3%;
    &.done {
        cursor: pointer;
        border-color: #bcec4d;
        color: #bcec4d; 
        &:hover {
            transform: scale(1.03)
        } 
    }
    &:focus {
        outline: none;
    }
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type=number] {
    -moz-appearance: textfield;
}
@media (min-width: 768px) and (max-width: 991px) {
    .section-text {
        font-size: 60px;
    }
    .options {
        padding-right: 35px;
        padding-left: 35px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .section-text {
        font-size: 59px;
    }
}
@media (max-width: 575px) {
    .section-text {
        font-size: 42px;
    }
    .options {
        input {
            margin: 3px auto;
            padding: 0px;
        }
        span {
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: 9px;
        }
    }
    button {
        font-size: 13px;
        padding: 4px 3%;
    }
}