<div class="container">
  <div class="row">
    <div class="section-text col-md-12 col-lg-6">
      Medidas
    </div>
    <div class="options col-md-12 col-lg-6">
      <div class="type">
        <a class="active">{{setActive(1)}}</a>
        <a (click)="setType()">{{setActive(0)}}</a>
      </div>
      <form #medidasform="ngForm" action="" (submit)="sendData()">
        <input id="edad" (focus)="scrollTo('edad')" type="number" placeholder="Edad" maxlength="2" name="edad" step="1" pattern="[0-9]" [(ngModel)]="edad" [ngClass]="validateEdad()" (keypress)="onlyNumbers($event)" ngModel>
        <div class="group-input">
          <input id="peso" (focus)="scrollTo('peso')" type="number" placeholder="Peso" name="peso" maxlength="6" (keypress)="onlyNumbersWithDecimalPeso($event)" [(ngModel)]="peso" [ngClass]="validatePeso()" ngModel>
          <span *ngIf="type == 1">Kilogramos</span>
          <span *ngIf="type == 2">Libras</span>
        </div>
        <div *ngIf="type == 1" class="group-input">
          <input id="altura" (focus)="scrollTo('altura')" type="number" placeholder="Altura" name="altura" maxlength="6" (keypress)="onlyNumbersWithDecimalAltura($event)" [(ngModel)]="altura" [ngClass]="validateAltura()" ngModel>
          <span *ngIf="type == 1">Centimetros</span>
          <span *ngIf="type == 2">Pulgadas</span>
        </div>
        <div class="group-input" *ngIf="type == 2">
          <select id="altura2" (focus)="scrollTo('altura2')" name="altura2" placeholder="Altura" [(ngModel)]="altura" [ngClass]="validateAltura()" ngModel>
            <option [ngValue]="null" disabled selected>Altura</option>
            <option [ngValue]="55">4ft 7in</option>
            <option [ngValue]="56">4ft 8in</option>
            <option [ngValue]="57">4ft 9in</option>
            <option [ngValue]="58">4ft 10in</option>
            <option [ngValue]="59">4ft 11in</option>
            <option [ngValue]="60">5ft 0in</option>
            <option [ngValue]="61">5ft 1in</option>
            <option [ngValue]="62">5ft 2in</option>
            <option [ngValue]="63">5ft 3in</option>
            <option [ngValue]="64">5ft 4in</option>
            <option [ngValue]="65">5ft 5in</option>
            <option [ngValue]="66">5ft 6in</option>
            <option [ngValue]="67">5ft 7in</option>
            <option [ngValue]="68">5ft 8in</option>
            <option [ngValue]="69">5ft 9in</option>
            <option [ngValue]="70">5ft 10in</option>
            <option [ngValue]="71">5ft 11in</option>
            <option [ngValue]="72">6ft 0in</option>
            <option [ngValue]="73">6ft 1in</option>
            <option [ngValue]="74">6ft 2in</option>
            <option [ngValue]="75">6ft 3in</option>
            <option [ngValue]="76">6ft 4in</option>
            <option [ngValue]="77">6ft 5in</option>
            <option [ngValue]="78">6ft 6in</option>
            <option [ngValue]="79">6ft 7in</option>
            <option [ngValue]="80">6ft 8in</option>
            <option [ngValue]="81">6ft 9in</option>
            <option [ngValue]="82">6ft 10in</option>
            <option [ngValue]="83">6ft 11in</option>
            <option [ngValue]="84">7ft 0in</option>
          </select>
        </div>
        
        <button type="submit" [ngClass]="setClassFinish()">Calcular</button>
      </form>
      <!-- <button (click)="setMedidas()" >Calcular</button> -->
    </div>
  </div>
  
</div>