.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.9;
}

.loader-content {
  .text {
      width: 100%;
      position: absolute;
      top: 55%;
      p {
          text-align: center;
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase
      }
  }
  .loader {
      margin: 0 auto;
      position: absolute;
      width: 50PX;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.logo {
        top: 43%;
    }
  }
  
}


select{
  margin-left: 26px;
margin-top: 5px;
  background-color: transparent;
  border-style: solid;
  border-color: #3a6ea7;
  width: 126px;
  color: white;
  text-align: center;
  border-radius: 20px;
  -webkit-appearance: none;
  appearance: none;
  transition: all 150ms ease-in-out;

  background-image:
    linear-gradient(45deg, transparent 50%, #3a6ea7 50%),
    linear-gradient(135deg, #3a6ea7 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + -2px),
    calc(100% - 15px) calc(1em + -2px),
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,5px 5px,1px 1.5em;
  background-repeat: no-repeat;
  &:focus {
      border-color: #3a6ea7;
      
      background-image:
      linear-gradient(45deg, #4db2ec 50%,transparent 50%),
        linear-gradient(135deg, transparent 50%, #4db2ec 50%);
    background-position:
      calc(100% - 15px) 12px,
      calc(100% - 20px) 12px,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: #4db2ec;
    outline: 0;
  }
  &.danger {
      border-color: #ec4d4d;
  }
  &.valid {
      border-color: #bcec4d;
  }
  option {
    color: black;
    text-align: justify;
  }
}

span {
  font-size: 13px;
  color: #909090;
  font-weight: 700;
  &.check {
    color:white;
    font-size: 15px;
    width: 90%;
  }
}

.ammount {
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-align : end;
}
.total {
  color: #3a6ea7;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -20px;
  text-align: end;
  padding-right: 8px;
}

.ppbtn {
  justify-content: end;
  display: grid;
  
}
.affterPayment {
  span {
    font-size: 15px;
    color: #3a6ea7;
  }
  i {
    font-size: 30px;
    color:#3a6ea7;
  }
}
.input-buttons {
  background-color: white;
  border-radius: 20px;
  display: grid;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-moz-outer-spin-button, 
input[type=number]::-moz-inner-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-aparence: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.number-input {
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  border:none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 21px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 9px;
  height: 1px;
  background-color: black;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  border: transparent;
  border-width: 0 ;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: transparent;
  width: 30px;
}

table {
  width: 100%;
  color: white;
  tr .td-end {
    width: 43px;
  }
  tr .td-first {
    width: 211px;
  }
  tr .td-second {
    width: 136px;
  }
}
.extra {
  font-size: 15px;
}
.acuerdo {
  text-align: justify
}
#zoid-paypal-button-9f6c898ac2 > .zoid-outlet {
  width: 50%;
}
.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    transform: scale(1);
    vertical-align: middle;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 2px;
    left: 2px;
    fill:white;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #3a6ea7;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .cbx span:last-child {
    padding-left: 8px;
  }
  .cbx:hover span:first-child {
    border-color: #3a6ea7;
  }
  
  .inp-cbx:checked + .cbx span:first-child svg{
    fill: #3a6ea7;
    border-color: #3a6ea7;
    transform: rotate(45deg);
    animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  .cbx2 {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cbx2 span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx2 span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    transform: scale(1);
    vertical-align: middle;
    transition: all 0.2s ease;
  }
  .cbx2 span:first-child svg {
    position: absolute;
    top: 2px;
    left: 2px;
    fill:white;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx2 span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #3a6ea7;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .cbx2 span:last-child {
    padding-left: 8px;
  }
  .cbx2:hover span:first-child {
    border-color: #3a6ea7;
  }
  
  .inp-cbx2:checked + .cbx2 span:first-child svg{
    fill: #3a6ea7;
    border-color: #3a6ea7;
    transform: rotate(45deg);
    animation: wave 0.4s ease;
  }
  .inp-cbx2:checked + .cbx2 span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx2:checked + .cbx2 span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  @keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }

  .total {
    margin-top: 36px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    table tr .td-first {
      width: 132px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    table tr .td-first {
      width: 250px;
    }
  }
  @media (max-width: 575px) {
    .extra {
      font-size: 15px;
    }
    .plan {
      font-size: 20px;
    }
    .plan-value {
      font-size: 20px;
    }
    .total {
      margin-top: 0px;
      font-size: 17px;
    }
    .ammount {
      font-size: 55px;
    }
    span {
      &.check {
        line-height: 6px;
      }
    }
    table tr .td-first {
      width: 216px;
    }
    table tr .td-second {
      width: 100px;
    }
  }

  @media (max-width: 330px) {
    table tr .td-first {
      width: 116px;
    }
    table tr .td-second {
      width: 88px;
    }
    .cbx span:first-child {
      width: 12px;
    }
    span {
      &.check {
        font-size: 11px;
      }
    }
  }