<div class="container" style="display:flex">
    <div class="col-md-12 col-lg-7" style="margin: 40px auto">
      <div style="height:70px">
        <table>
          <tr>
            <td><h4 class="plan" style="font-weight:700">Dieta personalizada</h4></td>
            <td class="plan-value" style="text-align:end; vertical-align: bottom"><h4>29.95 $</h4></td>
          </tr>
        </table>
      </div>
      <h5 class="extra">Añade tus extras</h5>
      <div style="height: 120px;">
        <table>
          <tr>
            <td class="td-first">
              <input [(ngModel)]="ejercicio" name="ejercicio" (click)="setPriceEjercice()" class="inp-cbx" id="cbx_ejercice" type="checkbox" style="display: none;"/>
              <label style="width:100%" class="cbx" for="cbx_ejercice">
                <span>
                  <svg width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;" xml:space="preserve">
                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69    C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69    s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"></path>
                  </svg>
                </span>
                <span class="check"  [ngStyle]="{'color': setColorSelect()}" style="line-height: 19px;">Plan de ejercicio personalizado
                    
                </span>
                
              </label>
              
            </td>
            <!-- <td class="td-second" style="padding-top: 7px;">
             
               <span class="check"  [ngStyle]="{'color': setColorSelect()}" style="line-height: 19px;">
                  <div class="number-input">
                      <input [(ngModel)]="tipo_ejercicio" class="quantity" min="3" max="5" name="quantity" value="3" type="number" readonly>
                      <div class="input-buttons">
                        <button (click)="up()" class="plus"></button>
                        <button (click)="down()" ></button>
                      </div>
                    </div> días   
              </span>
              
            </td> -->
            <td class="td-end" style="text-align:end;font-weight: 700;vertical-align: middle; padding-top: 7px;" [ngStyle]="{'color': setColorSelect()}">19.95 $</td>
          </tr>
          <tr>
            <td >
              <input [(ngModel)]="donation" name="donation" (click)="setDonation()" class="inp-cbx2" id="cbx_donation" type="checkbox" style="display: none;"/>
              <label style="width:100%" class="cbx2" for="cbx_donation">
                <span>
                  <svg width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;" xml:space="preserve">
                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69    C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69    s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"></path>
                  </svg>
                </span>
                <span class="check"  [ngStyle]="{'color': setColorSelectDonation()}" style="line-height: 19px;">Regala una comida a niños en desnutrición en Venezuela
                    
                </span>
                
              </label>
              
            </td>
            <td class="td-end" style="text-align:end;font-weight: 700;vertical-align: middle; padding-top: 7px;" [ngStyle]="{'color': setColorSelectDonation()}">2 $</td>
          </tr>
        </table>
        <!-- <select [(ngModel)]="tipo_ejercicio" [disabled]="!ejercicio" [ngStyle]="{'border-color': setColorSelect(),'color': setColorSelect() }" class="theme-pink" name="" id="">
          <option value="3">3 días</option>
          <option value="4">4 días</option>
          <option value="5">5 dìas</option>
        </select> -->
        <!--  -->
      </div>

      <div class="total">
        <div class="total">Total a pagar</div>
        <div class="ammount">{{finalAmount}} $</div>
      
        <div class="ppbtn">
          <div id="paypal-checkout-btn"></div>
        </div>
      
        <div *ngIf="paypalLoad" style="display:flex">
          <img style="margin: 0 auto;width: 50px" src="./assets/svg/SVG-Loaders-master/svg-loaders/three-dots.svg" alt="">
        </div>
      </div>
    </div>
</div>

<div class="loader-content" *ngIf="loader">
  <div class="backdrop"></div>
  <img class="loader logo" src="./assets/img/LogoHeaderInv.png" alt="">
  <img class="loader" src="./assets/svg/SVG-Loaders-master/svg-loaders/three-dots.svg" alt="">
  <div class="text">
    <p>Espere un momento por favor</p>
  </div>
</div>