<div class="container">
  <div class="row">
    <div class="section-text col-md-12 col-lg-6">
      Tus malos hábitos
    </div>
    <div class="options col-md-12 col-lg-6">
        <p>Selecciona tus malos hábitos y haz click en siguiente</p>
      <div class="row">
        <div (click)="selectOption(0)" [ngClass]="setActive(0)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/bad-habits/001-slumber.svg#Capa_1"></use></svg>
          </div>
          <label>No dormir lo suficiente</label>
        </div>
        <div (click)="selectOption(1)" [ngClass]="setActive(1)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/bad-habits/002-cutlery.svg#Layer_1"></use></svg>
          </div>
          <label>Comer muy tarde</label>
        </div>
        <div (click)="selectOption(2)" [ngClass]="setActive(2)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/bad-habits/003-salt.svg#Layer_1"></use></svg>
          </div>
          <label>Mucha sal en las comidas</label>
        </div>
        <div (click)="selectOption(3)" [ngClass]="setActive(3)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/bad-habits/004-toffee.svg#Capa_1"></use></svg>
          </div>
          <label>Mucho dulce y bollería</label>
        </div>
        <div (click)="selectOption(4)" [ngClass]="setActive(4)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/bad-habits/005-can.svg#Capa_1"></use></svg>
          </div>
          <label>Tomar gaseosas</label>
        </div>
        <div (click)="selectOption(5)" [ngClass]="setActive(5)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/allergies/no-stopping.svg#Capa_1"></use></svg>
          </div>
          <label>Ninguno</label>
        </div>
      </div>
    </div>
  </div>
</div>