
<div class="container">
  <div>
    <p class="supertitle-one">Hemos procesado tú pago satisfactoriamente</p>
    <h1 class="title-one">Ahora solo debes rellenar el siguiente formulario</h1>
    <p class="subtitle-one">Debes leer detenidamente y rellenar toda la información para que podamos diseñar tu plan personalizado</p>
  </div>

  <form>
      <div class="pregunta">
          <label class="title required" for="name">Nombre</label>
          <input id="1" (focus)="scrollTo('1')" [(ngModel)]="personalform.nombre" name="name" maxlength="20" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required" for="apellido">Apellido</label>
          <input id="2" (focus)="scrollTo('2')"[(ngModel)]="personalform.apellido" name="apellido" maxlength="20" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required" for="apellido">Email de contacto (Verificar que esté bien escrito)</label>
          <input id="4" (focus)="scrollTo('4')" id="3" (focus)="scrollTo('3')" [(ngModel)]="personalform.email" name="apellido" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title" for="">¿Cómo te enteraste de nuestra promoción para dieta personalizada?</label>
          <input id="5" (focus)="scrollTo('5')" [(ngModel)]="personalform.como_t_enteraste" name="como_t_enteraste" value="Publicidad en google" class="inp-rd" id="rd-ctt1" type="radio" style="display: none;"/>
            <label class="rd" for="rd-ctt1"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Publicidad en google</span></label>
          <input [(ngModel)]="personalform.como_t_enteraste" name="como_t_enteraste" value="Instagram" class="inp-rd" id="rd-ctt2" type="radio" style="display: none;"/>
            <label class="rd" for="rd-ctt2"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Instagram</span></label>
          <input [(ngModel)]="personalform.como_t_enteraste" name="como_t_enteraste" value="Facebook" class="inp-rd" id="rd-ctt3" type="radio" style="display: none;"/>
            <label class="rd" for="rd-ctt3"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Facebook</span></label>
          <input [(ngModel)]="personalform.como_t_enteraste" name="como_t_enteraste" value="Email" class="inp-rd" id="rd-ctt4" type="radio" style="display: none;"/>
            <label class="rd" for="rd-ctt4"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Email</span></label>
          <input [(ngModel)]="personalform.como_t_enteraste" name="como_t_enteraste" value="{{otro_enteraste}}" class="inp-rd" id="rd-ctt5" type="radio" style="display: none;"/>
            <label class="rd" for="rd-ctt5"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check other">Otro:
                <input id="6" (focus)="scrollTo('6')" [(ngModel)]="otro_enteraste" (ngModelChange)="personalform.como_t_enteraste = otro_enteraste" name="otro_enteraste" type="text" placeholder="Tu respuesta">   
            </span></label>
        </div>
        
        <div class="pregunta">
          <label class="title">Si hiciste el pago desde la cuenta paypal de alguien más indícanos su nombre e email</label>
          <input id="7" (focus)="scrollTo('7')" [(ngModel)]="personalform.nombre_dueno_paypal" name="nombre_dueno_paypal" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required" for="">Sexo</label>
          <input id="8" (focus)="scrollTo('8')" [(ngModel)]="personalform.sexo" name="sexo" value="hombre" class="inp-rd" id="rd-sex1" type="radio" style="display: none;"/>
            <label class="rd" for="rd-sex1"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Hombre</span></label>
          <input [(ngModel)]="personalform.sexo" name="sexo" value="mujer" class="inp-rd" id="rd-sex2" type="radio" style="display: none;"/>
            <label class="rd" for="rd-sex2"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Mujer</span></label>
      
        </div>
      
        <div class="pregunta">
          <label class="title required" for="apellido">Edad</label>
          <input id="9" (focus)="scrollTo('9')" [(ngModel)]="personalform.edad" name="edad" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required" for="apellido">País de donde nos escribes</label>
          <input id="10" (focus)="scrollTo('10')"[(ngModel)]="personalform.pais" name="pais" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required">Altura en cm</label>
          <input id="11" (focus)="scrollTo('11')" [(ngModel)]="personalform.altura_cm" name="altura_cm" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required">Peso actual en kg</label>
          <input id="12" (focus)="scrollTo('12')" [(ngModel)]="personalform.peso_kg" name="peso_kg" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required">Peso mínimo y máximo que has tenido</label>
          <input id="13" (focus)="scrollTo('13')" [(ngModel)]="personalform.peso_min_y_max" name="apellido" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title ">Medidas de cintura y cadera en cm</label>
          <input id="14" (focus)="scrollTo('14')" [(ngModel)]="personalform.cintura_cadera" name="cintura_cadera" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title ">Porcentaje de grasa corporal (solo si lo sabes y está actualizado) y ¿cómo fue medido?</label>
          <input id="15" (focus)="scrollTo('15')" [(ngModel)]="personalform.por_grasa_corporal" name="por_grasa_corporal" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title ">Cantidad de agua que tomas al día (Especificar en litros o vasos de agua)</label>
          <input id="16" (focus)="scrollTo('16')" [(ngModel)]="personalform.cantidad_agua" name="cantidad_agua" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">¿Tomas café o te regularmente?</label>
          <input id="17" (focus)="scrollTo('17')" [(ngModel)]="personalform.cafe_te[0].status"  name="cafe_te1" class="inp-cbx" id="cbx1" type="checkbox" style="display: none;"/>
            <label class="cbx" for="cbx1">
              <span><svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg></span>
                <span class="check">Té</span>
            </label>
          <input [(ngModel)]="personalform.cafe_te[1].status" name="cafe_te2" class="inp-cbx" id="cbx2" type="checkbox" style="display: none;"/>
            <label class="cbx" for="cbx2">
              <span><svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg></span>
                <span class="check">Cafe</span>
            </label>
          <input [(ngModel)]="personalform.cafe_te[2].status" name="cafe_te3" class="inp-cbx" id="cbx3" type="checkbox" style="display: none;"/>
            <label class="cbx" for="cbx3">
              <span><svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg></span>
                <span class="check">Ninguno</span>
            </label>
        </div>
      
        <div class="pregunta">
          <label class="title">¿Cual es tu frecuencia de evacuaciones?, 
            ¿Cada cuanto vas al baño?, ¿Sufres de estreñimiento?</label>
          <input id="18" (focus)="scrollTo('18')" [(ngModel)]="personalform.evacuaciones" name="evacuaciones" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">¿Sientes ansiedad en algún momento del día?, ¿A qué hora?      </label>
          <input id="19" (focus)="scrollTo('19')" [(ngModel)]="personalform.ansiedad" name="ansiedad" type="text" placeholder="Tu respuesta">
        </div>
        
        <div class="pregunta">
          <label class="title required">¿Has entrenado anteriormente? </label>
          <input [(ngModel)]="personalform.entrenamiento" name="entrenamiento" [value]="'Si'" class="inp-rd" id="rd-ent1" type="radio" style="display: none;"/>
            <label class="rd" for="rd-ent1"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Si</span></label>
          <input [(ngModel)]="personalform.entrenamiento" name="entrenamiento" [value]="'No'" class="inp-rd" id="rd-ent2" type="radio" style="display: none;"/>
            <label class="rd" for="rd-ent2"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">No</span></label>
        </div>
        
        <div class="pregunta">
          <label class="title">Si la anterior pregunta fue si, ¿Desde cuando entrenas?</label>
          <input id="20" (focus)="scrollTo('20')" [(ngModel)]="personalform.desde_entrenamiento" name="desde_entrenamiento" type="text" placeholder="Tu respuesta">
        </div>
        
        <div class="pregunta">
          <label class="title required">¿Qué tipo de entrenamiento realizas?, Ser especifico</label>
          <input id="21" (focus)="scrollTo('21')" [(ngModel)]="personalform.tipo_entrenamiento" name="tipo_entrenamiento" type="text" placeholder="Tu respuesta">
        </div>
        
        <div class="pregunta">
          <label class="title required">¿A qué hora del día entrenas normalmente?</label>
          <input id="22" (focus)="scrollTo('22')" [(ngModel)]="personalform.hora_entrenamiento" name="hora_entrenamiento" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required">¿Cuantos días a la semana entrenas o dispones para entrenar?</label>
          <input id="23" (focus)="scrollTo('23')" [(ngModel)]="personalform.dias_entrenamiento" name="dias_entrenamiento" value="1 - 2 días" class="inp-rd" id="rd-dent1" type="radio" style="display: none;"/>
            <label class="rd" for="rd-dent1"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">1 - 2 días</span></label>
          <input [(ngModel)]="personalform.dias_entrenamiento" name="dias_entrenamiento" value="3 - 5 días" class="inp-rd" id="rd-dent2" type="radio" style="display: none;"/>
            <label class="rd" for="rd-dent2"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">3 - 5 días</span></label>
          <input [(ngModel)]="personalform.dias_entrenamiento" name="dias_entrenamiento" value="6 - 7 días" class="inp-rd" id="rd-dent3" type="radio" style="display: none;"/>
            <label class="rd" for="rd-dent3"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">6 - 7 días</span></label>
        </div>
      
        <div class="pregunta">
          <label class="title required">¿De cuanto tiempo dispones al día para entrenar?</label>
          <input id="24" (focus)="scrollTo('24')" [(ngModel)]="personalform.tiempo_entrenamiento" name="tiempo_entrenamiento" value="Menos de 1 hora" class="inp-rd" id="rd-tent1" type="radio" style="display: none;"/>
            <label class="rd" for="rd-tent1"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Menos de 1 hora</span></label>
          <input [(ngModel)]="personalform.tiempo_entrenamiento" name="tiempo_entrenamiento" value="1 hora" class="inp-rd" id="rd-tent2" type="radio" style="display: none;"/>
            <label class="rd" for="rd-tent2"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">1 hora</span></label>
          <input [(ngModel)]="personalform.tiempo_entrenamiento" name="tiempo_entrenamiento" value="Más de 1 hora" class="inp-rd" id="rd-tent3" type="radio" style="display: none;"/>
            <label class="rd" for="rd-tent3"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Más de 1 hora</span></label>
        </div>
      
        <div class="pregunta">
          <label class="title required">¿Objetivos y expectativas?</label>
          <label style="font-size: 12px; color:white">Cual es el objetivo que te planteas lograr con nuestra asesoría</label>
          <input id="25" (focus)="scrollTo('25')" [(ngModel)]="personalform.objetivo" name="objetivo" value="Perdida de Peso" class="inp-rd" id="rd-obj1" type="radio" style="display: none;"/>
            <label class="rd" for="rd-obj1"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Perdida de Peso</span></label>
          <input [(ngModel)]="personalform.objetivo" name="objetivo" value="Definición muscular" class="inp-rd" id="rd-obj2" type="radio" style="display: none;"/>
            <label class="rd" for="rd-obj2"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Definición muscular</span></label>
          <input [(ngModel)]="personalform.objetivo" name="objetivo" value="Aumento de masa muscular" class="inp-rd" id="rd-obj3" type="radio" style="display: none;"/>
            <label class="rd" for="rd-obj3"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Aumento de masa muscular</span></label>
          <input [(ngModel)]="personalform.objetivo" name="objetivo" value="Mantenimiento de la forma física" class="inp-rd" id="rd-obj4" type="radio" style="display: none;"/>
            <label class="rd" for="rd-obj4"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Mantenimiento de la forma física</span></label>
          <input [(ngModel)]="personalform.objetivo" name="objetivo" value="otro_objetivo" class="inp-rd" id="rd-obj5" type="radio" style="display: none;"/>
            <label class="rd" for="rd-obj5"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check other" >Otro:
              <input id="26" (focus)="scrollTo('26')" [(ngModel)]="otro_objetivo" (ngModelChange)="personalform.objetivo = otro_objetivo" name="otro_objetivo" type="text" placeholder="Tu respuesta">   
            </span></label>
        </div>
      
        <div class="pregunta">
          <label class="title required">Explicar con detalle cual es el objetivo que quieres lograr </label>
          <input id="27" (focus)="scrollTo('27')" [(ngModel)]="personalform.objetivo_explicado" name="objetivo_explicado" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required">¿Cuantas comidas haces al día y en que horarios?</label>
          <input id="28" (focus)="scrollTo('28')" [(ngModel)]="personalform.comidas_dia" name="comidas_dia" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">Qué Frutas y vegetales comúnmente consumes?</label>
          <input id="29" (focus)="scrollTo('29')" [(ngModel)]="personalform.frutas_vegetales" name="frutas_vegetales" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">Qué alimentos que nunca consumes porque no te gustan?</label>
          <input id="30" (focus)="scrollTo('30')" [(ngModel)]="personalform.alimentos_no_consume" name="alimentos_no_consume" type="text" placeholder="Tu respuesta">
        </div>
      
        <div>
          <h3>¿Qué comiste ayer y en qué cantidades aproximadamente (tazas/cucharadas/peso)?</h3>
          <p>Rellena en cada una de las opciones agregando la hora en que realizaste la comida</p>
        </div>
      
        <div class="pregunta">
          <label class="title">Desayuno</label>
          <input id="31" (focus)="scrollTo('31')" [(ngModel)]="personalform.desayuno" name="desayuno" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">Merienda o snack de media mañana</label>
          <input id="32" (focus)="scrollTo('32')" [(ngModel)]="personalform.merienda_manana" name="merienda_manana" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">Almuerzo</label>
          <input id="33" (focus)="scrollTo('33')" [(ngModel)]="personalform.almuerzo" name="almuerzo" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">Merienda o snack de media tarde</label>
          <input id="34" (focus)="scrollTo('34')" [(ngModel)]="personalform.merienda_tarde" name="merienda_tarde" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">Cena</label>
          <input id="35" (focus)="scrollTo('35')" [(ngModel)]="personalform.cena" name="cena" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">Merienda o snack antes de dormir</label>
          <input id="36" (focus)="scrollTo('36')" [(ngModel)]="personalform.merienda_noche" name="merienda_noche" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required" for="">¿Has tomado en el pasado o tomas actualmente algún suplemento?</label>
          <input id="37" (focus)="scrollTo('37')" [(ngModel)]="personalform.suplementos" name="suplementos" value="Si" class="inp-rd" id="rd1-sup1" type="radio" style="display: none;"/>
            <label class="rd" for="rd1-sup1"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">Si</span></label>
          <input [(ngModel)]="personalform.suplementos" name="suplementos" value="No" class="inp-rd" id="rd1-sup2" type="radio" style="display: none;"/>
            <label class="rd" for="rd1-sup2"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span><span class="check">No</span></label>
        </div>
      
        <div class="pregunta">
          <label class="title">Si la anterior respuesta es si, ¿cuales suplementos has tomado o estás tomando actualmente?</label>
          <input id="38" (focus)="scrollTo('38')" [(ngModel)]="personalform.cuales_suplementos" name="cuales_suplementos" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required">¿Tienes alguna(s) alergias, Intolerancias? ¿Alguna Enfermedad y/o Medicación? Ser especifico </label>
          <input id="39" (focus)="scrollTo('39')" [(ngModel)]="personalform.alergias" name="alergias" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required">¿Tienes alguna lesión o impedimento para realizar ejercicio?</label>
          <input id="40" (focus)="scrollTo('40')" [(ngModel)]="personalform.lesiones" name="lesiones" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title">Déjanos debajo cualquier comentario adicional que desees agregar</label>
          <input id="41" (focus)="scrollTo('41')" [(ngModel)]="personalform.comentarios" name="comentarios" type="text" placeholder="Tu respuesta">
        </div>
      
        <div class="pregunta">
          <label class="title required">Danos tu número de Whatsapp (no olvides de poner el código de tu país)</label>
          <label style="font-size: 12px; color:white; width: 100%">Lo necesitaremos en caso de tener que aclarar alguna duda</label>
          <input id="42" (focus)="scrollTo('42')" [(ngModel)]="personalform.whatsapp" name="whatsapp" type="text" placeholder="Tu respuesta">
        </div>
  </form>

  

  <div class="buttons">
    <div class="row">
      <button [ngClass]="validateForm()" (click)="sendForm()">Enviar formulario</button>
    </div>
  </div>
</div>
