.pregunta {
  margin: 20px;
}

.supertitle-one {
  margin-bottom: 0;
  margin-top: 9%;
  font-size: 22px;
}
.subtitle-one {
  font-size: 14px;
}

.buttons {
  display: flex;
  padding-bottom: 40px;
  div {
      margin: 0 auto;
  }
}

button {
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: 800;
  text-rendering: auto;
  border: 3px #355577;    
  border-radius: 31px;
  display: block;
  text-align: center;
  border-style: solid;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  padding: 10px;
  margin: 4px 40px;
  cursor: pointer;
  &.active {
      border-color: #bcec4d;
      color: #bcec4d; 
      transform: scale(1.03);
      outline: none;
  } 
  &:focus {
    outline: none;
  }
}

label.title {
    width: 100%;
    position: unset;
    color: white;
    font-weight: 700;
    &.required:after{
        content: " *";
        color: #ec4d4d;
    }
}

input {
    background-color: transparent;
    border-style: solid;
    border-color: #355577;
    width: 50%;
    color: white;
    text-align: center;
    margin: 6px auto;
    padding: 6px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
    &:focus {
        border-color: #4db2ec;
        outline: none;

    }
    &.danger {
        border-color: #ec4d4d;
    }
    &.valid {
        border-color: #bcec4d;
    }
}

.other {
  width: 50%;
  input {
    width: 90%;
  }
}
span.check {
  color:white;
}



.rd {
  width: 100%;
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.rd span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.rd span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.rd span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.rd span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.rd span:last-child {
  padding-left: 8px;
}
.rd:hover span:first-child {
  border-color: #506EEC;
}

.inp-rd:checked + .rd span:first-child {
  background: #506EEC;
  border-color: #506EEC;
  animation: wave 0.4s ease;
}
.inp-rd:checked + .rd span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-rd:checked + .rd span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}


  .cbx {
    width: 100%;
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .cbx span:last-child {
    padding-left: 8px;
  }
  .cbx:hover span:first-child {
    border-color: #506EEC;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @media (max-width: 575px) {
    input {
      width: 100%;
    }
    .other {
      width: 90%;
      input {
        width: 80%
      }
    }
}