<div id="init-page" class="container">
  <button class="one" (click)="moveToDescripcion()" style="margin: 5% auto;">Quiero una dieta personalizada</button>             
  <div class="row" style="margin-top: 50px" >
      <div style="margin-bottom: 35px;" class="elemento col-md-12 col-lg-6">
        <div style="margin-bottom: -10px">
          <p class="title-desc" >Eres <b>{{result.sexo}}</b>  de <b>{{result.edad}} años</b>  con una altura de <b *ngIf="result.tipo === 1">{{result.altura}} cm</b> <b *ngIf="result.tipo === 2">{{setAlturaPies(result.altura)}}</b></p>
          <p class="title-desc">y pesas <b *ngIf="result.tipo === 1">{{result.peso}} kg</b> <b *ngIf="result.tipo === 2">{{result.peso}} lb</b>  con <b>{{peso}}</b> </p>      
        </div>
      <mwl-gauge
        #gaugesvg  
        [min]="15"
        [max]="33"
        [dialStartAngle]="180"
        [dialEndAngle]="0"
        [value]="value"
        [showValue]="false"
        [animated]="true"
        [animationDuration]="1">
      </mwl-gauge>
      <p class="title gauge2" style="margin-top: -7px;margin-bottom: -42px;font-size: 14px;font-weight: 500;color: white;padding-top: 0">Estás en</p>
      <p [ngStyle]="setColorPeso()" class="title gauge2">{{peso}}</p>
      <div [ngStyle]="" class="value">{{result.bmi}}</div>
      <p class="title-2">BMI / IMC</p>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="elemento col-md-12">
        <p class="subtitle2" style="margin-bottom: -26px;">Tu peso ideal sería de</p>
        <div *ngIf="result.tipo === 1" class="value-peso">{{result.peso_ideal_kg}}  <span>Kg</span></div>
        <div *ngIf="result.tipo === 2" class="value-peso">{{convertToLb(result.peso_ideal_kg)}} <span>lb</span></div>
        <!-- <div style="display: flex">
          <div class="row" style="margin: 0 auto">
              
              <div class="peso-text">
                <div *ngIf="result.tipo === 1" class="unidad">Kg</div>
                <div *ngIf="result.tipo === 2" class="unidad">Lb</div>
              </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="elemento col-sm-6 col-md-6">
          <p class="subtitle2" style="margin-top: 20px;margin-bottom: -20px;">Tus calorias de mantenimiento son</p>
          <div class="value" style="font-size: 70px;">{{result.calorias_nivel}} <span>cal</span></div>
          <p class="subtitle">De acuerdo a tu nivel de actividad</p>
          <p class="title">{{nivel}}</p>
        </div>
        <div class="elemento col-sm-6 col-md-6" >
            <p class="subtitle2" style="margin-top: 20px;margin-bottom: -20px;">Tus calorias recomendadas son</p>
          <div class="value" style="font-size: 70px;">{{result.calorias_objetivo}} <span>cal</span></div>
          <p class="subtitle">Necesarias para</p>
          <p class="title">{{objetivo}}</p>
        </div>
      </div>
      
    </div>
    
  </div>
  <div class="row">
    <div style="margin-top:30px" *ngIf="result.sexo === 'hombre'" class="mpm col-md-12 col-lg-6">
      <p class="title">Tu Máximo potencial muscular es de</p>
      <div *ngIf="result.tipo === 1" class="value"> {{result.mpm_inferior}} <span>kg</span> a {{result.mpm_superior}} <span>kg</span></div>
      <div *ngIf="result.tipo === 2" class="value"> {{convertToLbMPM(result.mpm_inferior)}} <span>lb</span> a {{convertToLbMPM(result.mpm_superior)}} <span>lb</span></div>
      <p class="subtitle">con un 5-6% de grasa corporal</p>
    </div>
    <hr>
    <div style="margin-top:30px" class="macros col-md-12" [ngClass]="setCol()">
      <p class="title">Tus Macros recomendados (30/35/35) son</p>
      <div class="row" [ngClass]="SetPadding()">
        <div class="elemento col-sm-4 col-md-4">
          <div *ngIf="result.tipo === 1" class="value" style="font-size: 60px;">{{result.proteinas_dia_g}} <span>g</span></div>
          <p class="title-2">de proteínas/día</p>
        </div>
        <div class="elemento col-sm-4 col-md-4">
          <div *ngIf="result.tipo === 1" class="value" style="font-size: 60px;">{{result.grasa_dia_g}} <span>g</span></div>
          <p class="title-2">de Grasas/día</p>
        </div>
        <div class="elemento col-sm-4 col-md-4">
          <div *ngIf="result.tipo === 1" class="value" style="font-size: 60px;">{{result.carbohidratos_dia_g}} <span>g</span></div>
          <p class="title-2">de Carbos/día</p>
        </div>
      </div>
      <p class="subtitle">30/35/35 significa 30% proteina, 35% grasas, 35% carbos. Hay 4 calorías por cada gramo de proteína y de carbohidratos. Y 9 calorías por cada gramo de grasa.</p>
    </div>
  </div>
<!-- 
  <div class="recomendaciones">
    <h4 class="title">Recomendaciones</h4>
    <div class="reco row">
      <div class="icon col-md-2">
        <svg><use xlink:href="../../assets/svg/bad-habits/001-slumber.svg#Capa_1"></use></svg>
      </div>
      <div class=" text col-md-10">
        <div>
            <h5>No dormir lo suficiente</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Molestias consectetur voluptatibus repellendus ullam in! Voluptas 
                  corporis praesentium quibusdam harum quasi molestias consequatur 
                  et ducimus. Nam numquam sed ipsa unde nostrum.            
            </p>
        </div>
      </div>
    </div>
    <div class="reco row">
        <div class="icon col-md-2">
          <svg><use xlink:href="../../assets/svg/bad-habits/001-slumber.svg#Capa_1"></use></svg>
        </div>
        <div class=" text col-md-10">
          <div>
              <h5>No dormir lo suficiente</h5>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Molestias consectetur voluptatibus repellendus ullam in! Voluptas 
                    corporis praesentium quibusdam harum quasi molestias consequatur 
                    et ducimus. Nam numquam sed ipsa unde nostrum.            
              </p>
          </div>
        </div>
      </div>
      <div class="reco row">
          <div class="icon col-md-2">
            <svg><use xlink:href="../../assets/svg/bad-habits/001-slumber.svg#Capa_1"></use></svg>
          </div>
          <div class=" text col-md-10">
            <div>
                <h5>No dormir lo suficiente</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                      Molestias consectetur voluptatibus repellendus ullam in! Voluptas 
                      corporis praesentium quibusdam harum quasi molestias consequatur 
                      et ducimus. Nam numquam sed ipsa unde nostrum.            
                </p>
            </div>
          </div>
        </div>
  </div>
 -->   
</div>
<div #descripcion id="descripcion" class="end-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="display: flex">
        <div class="end-description">
            <h4 class="form-title" style="text-align: center;">Pide hoy mismo tu dieta personalizada</h4>
            <div class="price">
              <p style="color: #bcec4d;">ANTES 49.99$. AHORA Solo por</p>
              <h4>29 <span>.95</span> </h4>
              <p style="margin-top: -20px;color: #bcec4d;">USD $</p>
            </div>
          <ul>
            <li>Diseñada por nuestro equipo de nutricionistas.</li>
            <li>Totalmente personalizada adaptada 100% a tu estilo de vida y orientada a tus objetivos.</li>
            <li>Los alimentos seleccionados estarán totalmente adaptados a tus gustos, alergias e intolerancias.</li>
            <li>Las porciones son calculadas acorde a tus requerimientos calóricos.</li>
            <li>Te daremos 6 menús y hasta 3 alternativas para cada comida por lo que recibes un plan alimenticio con más de 18 combinaciones para elegir.</li>
            <li>Único pago, sin cargos ocultos, sin suscripción.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6" style="display:flex">
        <div class="form-end">
          <h4 class="form-title">Déjanos tu nombre y tu email para enviarte tu dieta personalizada</h4>
          <form>
            <input [(ngModel)]="name" name="name_input" maxlength="20" [ngClass]="validateName()" type="text" placeholder="Primer nombre">
            <input [(ngModel)]="email" name="email_input" [ngClass]="validateEmail()" type="text" placeholder="Email">
          </form>
          <br/>
  
          <input [(ngModel)]="gdpr" class="inp-cbx" id="cbx" type="checkbox" style="display: none;"/>
          <label class="cbx" for="cbx">
            <span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span>
            <span class="check">Estoy de acuerdo</span>
          </label>
          <div class="acuerdo">
            <span><strong>Permiso de mercadeo</strong>: 
              Doy mi consentimiento para que FullMusculo esté en contacto 
              conmigo por correo electrónico utilizando la información que he 
              proporcionado en este formulario con el fin de recibir noticias, 
              actualizaciones y mercadotecnia.
            </span>
            <br>
            <span><strong>Que esperar</strong>: 
              Si desea retirar su consentimiento y dejar de recibir noticias 
              nuestras, simplemente haga clic en el enlace para darse de baja 
              en la parte inferior de cada correo electrónico que le enviamos 
              o contáctenos a info@fullmusculo.com. Valoramos y respetamos sus 
              datos personales y privacidad. Para ver nuestra política de 
              privacidad, visite nuestro sitio web. Al enviar este formulario, 
              acepta que podamos procesar su información de acuerdo con estos 
              términos.
            </span>
          </div>
          
          <div style="margin:20px; display: flex">
            <re-captcha
              style="margin: 0 auto"
              (resolved)="resolved($event)"
              siteKey="6Lcugo4UAAAAACSpjxod_0xCM8PE5dGi1Ey0i29_"
            ></re-captcha>
          </div>
             
          <div class="buttons">
            <div>
              <button (click)="iwanttopay()" [ngClass]="setActiveButton()">Quiero mi dieta personalizada</button>
              <p (click)="recalculate()">Volver a calcular</p>
            </div>
          </div>s
        </div>
      </div>
    </div>
  </div>
  
</div>
