.elemento {
    text-align: center;
    .value {
        text-align: center;
        color: white;
        font-size: 80px;
        font-weight: 700;
        span {
            font-size: 27px;
            color: white;
            margin-left: -17px;
        }
    }
    .peso-text {
        margin-top: 50px;
    }
    .value-peso {
        text-align: center;
        color: white;
        font-size: 90px;
        font-weight: 700;
        span {
            font-size: 27px;
            color: white;
            margin-left: -17px;
        }
    }
    .unidad {
        color: white;
        font-weight: 700;
        font-size: 30px;
        text-align: initial;
    }
    .title-3 {
        text-align: center;
        font-size: 25px;
        margin-top: -20px;
        color:#4db2ec;
        font-weight: 700;
    }
    p {
        text-align: center;
        text-transform: uppercase;
        margin-top: -16px;
        &.subtitle {
            margin-top: -16px;
            font-size: 12px;
            color: #3a6ea7;
            font-weight: 700;
        }
        &.subtitle2 {
            margin-top: -16px;
            font-size: 19px;
            color: #4db2ec;
            font-weight: 700;
            line-height: 100%;
        }
        &.title {
            font-size: 17px;
            color: #4db2ec;
            font-weight: 700;
            &.gauge2 {
                margin-bottom: -10px;
                padding-top: 40px;
            }
        }
        &.title-2 {
            font-size: 15px;
            color: #3a6ea7;
            font-weight: 700;
        }
    }
}
.title-desc {
    font-size: 16px;
    text-align: center;
    color:white;
}
ul {
    list-style: none;
    padding: 0 8px;
  }
  
ul li:before {
    content: '✓ ';
    color: #bcec4d;
    font-weight: 700;
}
.macros {
    text-align: center;
    .title {
        font-size: 19px;
        line-height: 100%;
        font-weight: 700;
        color: #4db2ec;
        text-transform: uppercase;
        margin-bottom: -20px;
    }
    .subtitle {
        font-size: 13px;
        margin-top: -13px;
        color: #bebaba;
    }
}

.mpm {
    text-align: center;
    .value {
        text-align: center;
        color: white;
        font-size: 60px;
        font-weight: 700;
       
    }
    span {
        font-size: 27px;
        color: white;
        margin-left: -17px;
    }
    .title {
        font-size: 19px;
        line-height: 100%;
        font-weight: 700;
        color: #4db2ec;
        text-transform: uppercase;
        margin-bottom: -20px;
    }
    .subtitle {
        font-size: 13px;
        margin-top: -13px;
        color: #bebaba;
    }
}

.recomendaciones {
    text-align: center;
    margin-bottom: 40px;
    .title {
        font-size: 30px;
        font-weight: 700;
        color: #3a6ea7;
        text-transform: uppercase;
        margin-top: 50px;
    }
    .reco {
        margin-bottom: 10px;
        .icon svg {
            fill: #3a6ea7;
            width: 90px;
        }
        .text {
            text-align: justify;
            position: relative;
            div {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            h5 {
                font-weight: 700
            }
            p {
                color: #bebaba
            }
        }
    }
}

.end-page {
    margin-top: 5%;
    background-color: #1A1A1A
}
.form-end {
    margin: 50px auto;
    margin-bottom: -15px;
    width: 100%;
}
.end-description {
    margin: 25px auto;
    background-color: currentColor;
    padding: 5%;
    box-shadow: -5px 5px 20px 0px #0000006b;
    border-radius: 5px;
    li {
        color: white;
        width: 100%;
        font-size: 16px;
        margin-bottom: 2%;
    }
}

.price {
    margin: -6% auto;
    text-align: center;
    font-weight: 700;
    border-radius: 100px;
    padding: 9% 0;
    h4 {
        font-size: 70px;
        margin-top: -6%;
        color: #bcec4d;
        font-weight: 700;
        span {
            color: #bcec4d;
            font-size: 34px;
            margin-left: -16px;
            vertical-align: super;
        }
    }
    p {
        color: white
    }
}
.buttons {
    display: flex;
    div {
        margin: 0 auto;
    }
    p {
        color: #909090;
        margin: 10px 40px;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        transition: all 150ms ease-in-out;
        cursor: pointer;
        &:hover {
            color: #bcec4d; 
            transform: scale(1.03);
        }
    }
}

button {
    background-color: white;
    color: #3a6ea7;
    font-size: 14px;

    border: 3px #3a6ea7;
    border-style: solid;
    text-rendering: auto; 
    border-radius: 31px;
    display: block;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    padding: 10px;
    margin: 0 auto;
    box-shadow: -5px 5px 20px 0px #0000006b;
    &.active {
        color: white; 
        cursor: pointer;
        background-color: #bcec4d;
        border-color: white;
        transform: scale(1.03);
        outline: none;
        box-shadow: -5px 5px 20px 0px #000000b8;
        &:hover {
            transform: scale(1.03);
        }
    } 
    &.one:focus {
        color: white; 
        background-color: #bcec4d;
        border-color: white;
        transform: scale(1.03);
        outline: none;
        cursor: pointer;
        box-shadow: -5px 5px 20px 0px #000000b8;
    }
    &.one:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}
mwl-gauge {
    width: 420px;
    height: 117px;
    display: block;
    margin: 0 auto;
}


/*  */
.acuerdo {
    text-align: initial;
    font-size: 10px;
}
.form-title {
    text-transform: uppercase;
    font-weight: 700;
    
}

span {
    font-size: 10px;
    color: #909090;
    &.check {
      color:white;
      font-size: 15px;
      font-weight: 700;
    }
}



input {
    background-color: transparent;
    border-style: solid;
    border-color: #3a6ea7;
    width: 100%;
    color: white;
    text-align: center;
    margin: 6px auto;
    padding: 6px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
    &:focus {
        border-color: #4db2ec;
        outline: none;

    }
    &.danger {
        border-color: #ec4d4d;
    }
    &.valid {
        border-color: #bcec4d;
    }
}

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #3a6ea7;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .cbx span:last-child {
    padding-left: 8px;
  }
  .cbx:hover span:first-child {
    border-color: #3a6ea7;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #3a6ea7;
    animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
@keyframes wave {
    50% {
      transform: scale(0.9);
    }
}

.macro-padding {
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 992px) {
    .macro-padding {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 575px) {
    mwl-gauge {
        width: 327px;
        height: 60px;
        svg.gauge2 {
            position: absolute;
            width: 327px;
        }
    }
    .end-page {
        .form-title {
            font-size: 22px;
        }
        input {
            margin: 4px auto;
            padding: 0px;
        }
        button {
            font-size: 13px;
        }
        .acuerdo span {
            font-size: 8px;
        }
    }
}