<div class="container">
  <div style="margin-top: 40px">
    <div style="display:flex">
      <img style="margin: 0 auto" src="./assets/img/LogoHeaderInv.png" alt="">
    </div>
    <div class="title">
      <h1>Felicidades!</h1>
    </div>
    <div class="subtitle">
      <p *ngIf="tipo === 1">En breves minutos recibirás en tu correo 
        un archivo con el plan que acabas de adquirir</p>
      <p *ngIf="tipo === 2">Ya estamos trabajando en tu plan personalizado y te lo enviaremos a tu correo electrónico en un plazo de 7 dias HÁBILES/LABORABLES</p>
    </div>

    <div class="row" style="margin-top: 36px;margin-bottom: 50px;">
      <div class="col-md-6">
        <p (click)="recalculate()" class="recalculate">Volver a la calculadora</p>
      </div>
      <div class="resend col-md-6" *ngIf="tipo === 1">
        <p class="title">¿Aún no has recibido nuestro correo?</p>
        <p>Revisa la bandeja de Spam o haz click <strong><a href="">aquí</a></strong> para volver a enviar el correo.</p>
        <p>Si ha surgido un problema contáctanos en <strong><a href="mailto:info@fullmusculo.com">info@fullmusculo.com</a></strong> e indícanos cual es el problema para poder ayudarte.</p>
      </div>
      <div class="resend col-md-6" *ngIf="tipo === 2">
        <p>Revisa siempre la bandeja de Spam o correo no deseado, pudiera darse el caso de que nuestros emails te estén llegando allí.</p>
      </div>
    </div>
  </div>
</div>