.title {
    h1 {
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.subtitle {
    p {
        text-align: center;
    }
}

.recalculate {
    text-align: center;
    color: #3a6ea7;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    &:hover {
        color: #bcec4d; 
        transform: scale(1.03);
    }
}

.resend {
    font-size: 13px;
    p.title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: center;
        color: #3a6ea7;
    }
    p {
        margin-bottom: 0;
        color: #3a6ea7;
    }
    a {
        color: #3a6ea7;
        &:hover {
            text-decoration: none;
            color: #bcec4d;
        }
    }
}

@media (max-width: 575px) {
    .title {
        h1 {
            font-size: 35px;
        }
    }
    img {
        width: 123px;
        height: 100px;
    }
} 