.section-text {
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    color: white;
    padding: 10px;
    padding-bottom: 0px;
}
.element {
    text-align: center;
    transition: all 150ms ease-in-out;  
    cursor: pointer;
    label {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
        color: #3a6ea7;
        cursor: pointer;
        transition: all 150ms ease-in-out;

    }
    .icon {
        font-size: 130px;
        margin-bottom: -27px;
        color: #3a6ea7;
        transition: all 150ms ease-in-out;
    }
    &:hover {
        transform: scale(1.03);
        label {
            &.male {
                color: #0090FF;
            }
            &.female {
                color: #FF0068
            }
        }
        .icon {
            &.male {
                color: #0090FF;
            }
            &.female {
                color: #FF0068
            }
        }
    }
    &.active {
        label {
            &.male,&.female {
                color: #bcec4d;
            }
        }
        .icon {
            &.male,&.female {
                color: #bcec4d;
            }
        }
    }
}

.options {
    p {
        margin-bottom: 2%;
        color: #bebaba;
        text-align: center;
    }
}


 @media (min-width: 768px) and (max-width: 991px) {
    .section-text {
        font-size: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .section-text {
        font-size: 59px;
    }
}

@media (max-width: 575px) {
    .section-text {
        font-size: 42px;
        line-height: 121%;
    }
    .element label {
        font-size: 23px;
    }
    .element {
        .icon {
            font-size: 95px;
            margin-bottom: -23px;
        }
        label {
            font-size: 15px;
        }
    }
    .options p {
        font-size: 10px;
    }
} 