<div class="container">
  <div class="row">
    <div class="section-text col-md-12 col-lg-6">
      Cual es tu Sexo?
    </div>
    <div class="options col-md-12 col-lg-6">
      <p>Selecciona una opción y haz click en siguiente</p>
      <div class="row">
        <div (click)="setSex('hombre')" [ngClass]="setActive('hombre')" class="element col-6 col-sm-6">
          <div class="icon male"><i class="fas fa-male"></i></div>
          <label class="male">Hombre</label>
        </div>
        <div (click)="setSex('mujer')" [ngClass]="setActive('mujer')" class="element col-6 col-sm-6">
          <div class="icon female"><i class="fas fa-female"></i></div>
          <label class="female">Mujer</label>
        </div>
      </div>
    </div>
  </div>
</div>