<div class="container">
  <div class="row">
    <div class="section-text col-md-12 col-lg-6">
      Actividad física
    </div>
    <div class="options col-md-12 col-lg-6">
        <p>Selecciona una opción y haz click en siguiente</p>
      <button 
        [ngClass]="setActive('1')" 
        (click)="selectActFisica('1')">Sedentario (Trabajo de oficina)</button>
      <button 
        [ngClass]="setActive('2')" 
        (click)="selectActFisica('2')">ejercicio leve (1 a 2 días por semana)</button>
      <button 
        [ngClass]="setActive('3')" 
        (click)="selectActFisica('3')">ejercicio moderado (3 a 5 días por semana)</button>
      <button 
        [ngClass]="setActive('4')" 
        (click)="selectActFisica('4')">ejercicio duro (6 a 7 días por semana)</button>
      <button 
        [ngClass]="setActive('5')" 
        (click)="selectActFisica('5')">Atleta (2 veces al día)</button>
    </div>
  </div>
  
</div>