.section-text {
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    color: white;
    padding: 10px;
    padding-bottom: 0;
}



.options {
    text-align: center;
    button {
        background-color: transparent;
        color: #3a6ea7;
        font-size: 14px;
        font-weight: 800;
        text-rendering: auto;
        border: 3px #3a6ea7;    
        border-radius: 31px;
        display: block;
        margin: 6px;
        padding: 6px 12px;
        text-align: center;
        border-style: solid;
        margin: 6px auto;
        width: 90%;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 150ms ease-in-out;
        &:hover {
            border-color: #4db2ec;
            color: #4db2ec;
            transform: scale(1.03)
        }
        &.active {
            border-color: #bcec4d;
            color: #bcec4d;
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }
    p {
        margin-bottom: 2%;
        color: #bebaba
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .section-text {
        font-size: 60px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .section-text {
        font-size: 59px;
    }
}
@media (max-width: 575px) {
    .section-text {
        font-size: 42px;
        line-height: 121%;
    }
    .options button{
        font-size: 12px;
        width: 100%;
        padding: 4px 12px;
    }
    .options p {
        font-size: 10px;
    }
}