<div class="container">
  <div class="row">
    <div class="section-text col-md-12 col-lg-6">
      Carnes
    </div>
    <div class="options col-sm-12 col-md-12 col-lg-6">
      <p>Selecciona tus opciones deseadas y haz click en siguiente</p>
      <div class="row">
        <div (click)="selectOption(0)" [ngClass]="setActive(0)" class="element col-4 ">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/foods/001-chicken.svg#Layer_1"></use></svg>
          </div>
          <label>Pollo</label>
        </div>
        <div (click)="selectOption(1)" [ngClass]="setActive(1)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/foods/002-meat.svg#Layer_1"></use></svg>
          </div>
          <label>Ternera</label>
        </div>
        <div (click)="selectOption(2)" [ngClass]="setActive(2)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/foods/003-fish.svg#Layer_1"></use></svg>
          </div>
          <label>Pescado</label>
        </div>
        <div (click)="selectOption(3)" [ngClass]="setActive(3)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/foods/006-turkey.svg#Layer_1"></use></svg>
          </div>
          <label>Pavo</label>
        </div>
        <div (click)="selectOption(4)" [ngClass]="setActive(4)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/foods/004-pig.svg#Capa_1"></use></svg>
          </div>
          <label>Cerdo</label>
        </div>
        <div (click)="selectOption(5)" [ngClass]="setActive(5)" class="element col-4">
          <div style="display: contents;">
            <svg><use xlink:href="./assets/svg/foods/005-meat-1.svg#Capa_1"></use></svg>
          </div>
          <label>Sin carnes</label>
        </div>
      </div>
    </div>
  </div>
</div>