/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: #1A1A1A;
    min-width: 540px;
}
.wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    
}
.bg {
    background-image: url('./assets/img/fullmusculo_back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
}
.loader {
    margin: 0 auto;
    position: absolute;
    width: 50PX;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &.logo {
        top: 43%;
    }
}

nav {
    background-color: #1A1A1A;
}

h1,h2,h3,h4,h5 {
    color: white;
}

p {
    color: white;
}

a {
    color: white;
    
}

mwl-gauge > .gauge > .dial {
    stroke: #4de7ec;
    fill: rgba(0,0,0,0);
    stroke-dasharray: 31 1;
    stroke-dasharray: 24.5 102;
}


mwl-gauge > .gauge2 > .dial2 {
    position: absolute;
    width: 420px;
    stroke: #bcec4d;
    fill: rgba(0,0,0,0);
    stroke-dasharray: 31 1;
    stroke-dasharray: 0 25 44.8 55;
}
mwl-gauge > .gauge3 > .dial3 {
    stroke: #ecc14d;
    fill: rgba(0,0,0,0);
    stroke-dasharray: 31 1;
    stroke-dasharray: 0 70.3 34.3 0.5;
}
mwl-gauge > .gauge4 > .dial4 {
    stroke: #ec4d4d;
    fill: rgba(0,0,0,0);
    stroke-dasharray: 31 1;
    stroke-dasharray: 0 105.1 0.5;
}
mwl-gauge > .gauge > .value {
    stroke: #4db2ec;
    stroke-width: 5;
    fill: rgba(0,0,0,0);
    stroke-dasharray: 24.5 0.5 44.8 0.5 34.3 0.5 21 0.5;
}

svg.gauge {
    position: relative;
}
svg.gauge2, svg.gauge3, svg.gauge4 {
    position: absolute;
    width: 420px;
}
@media (max-width: 575px) {
    mwl-gauge {
        svg.gauge2, svg.gauge3, svg.gauge4 {
            width: 327px;
        }
    }
}
.valueclass {
    stroke: #a7ec4d;
    stroke-width: 5;
    fill: rgba(0,0,0,0);
}